# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.env
.env.*
.DS_Store
*.local
coverage/
logs/
*.log
*.tsbuildinfo
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
.nyc_output/
.cache/
tmp/
temp/
*.tgz
!.env.example
.next/
